html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.background {
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom right, #ccccff, #cce6ff, #99ccff);
}

.container {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -375px;
    margin-left: -500px;
    width: 1000px;
    height: 550px;
    background: black;
    display: flex;
    align-items: center;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

.arrows {
    width: 50px;
    height: 100%;
    background: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrows:hover {
    background: lightgrey;
    cursor: pointer;
}

.rightarrow {
    transform: scaleX(-1);
}

.center {
    position: relative;
    width: 900px;
    height: 550px;
}

#photo {
    width: 900px;
    height: 550px;
    object-fit: cover;
}

.gray-container {
    position: absolute;
    width: 900px;
    height: 137px;
    background: #000000;
    opacity: 0.6;
    top: 413px;
    left: 0px;
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
    margin-left: 50px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    margin-bottom: 0px;
}

p {
    color: white;
    margin-left: 50px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

#thumbContainer {
    display: flex;
    margin: 0 auto;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 1000px;
    margin-left: -500px;
    margin-top: 200px;
    justify-content: center;
}

.thumb {
    width: 80px;
    height: 80px;
    border: 5px solid white;
    border-radius: 6px;
    object-fit: cover;
    margin: 5px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}


}